<div class="data-content">
    <!-- Data component template header-->
    <ng-container
        *ngTemplateOutlet="headerRef ?? defaultHeaderRef; context: {title, description, config, state}"></ng-container>
    <div class="data-body" [ngClass]="{'data__no_padding': noPadding, 'data__padding': !noPadding}">
        <ng-container *ngIf="config">
            <ng-container *ngIf="!noModal || (!!config.datagrid && state.view === 'listView')">
                <div class="data-body__content" @fadeInOut>
                    <ng-container
                        *ngTemplateOutlet="listRef ?? defaultList; context: {onRefreshDatagrid:onRefreshDatagrid.bind(this), onCachedQuery: onCachedQuery.bind(this), onDgStateChanges: onDgStateChanges.bind(this), dgState: state.dgState, actions: uiActions, handleAction: handleAction.bind(this), config, search: search$|async, detailPaneChange: detailPaneChange.bind(this), detailPane: detailPane, overflow: overflowRef, actionBar: actionBarRef, url}"></ng-container>
                    <ng-template #defaultList let-onRefreshDatagrid="onRefreshDatagrid"
                        let-onCachedQuery="onCachedQuery" let-onDgStateChanges="onDgStateChanges" let-dgState="dgState"
                        let-actions="actions" let-handleAction="handleAction" let-config="config" let-search="search"
                        let-detailPaneChange="detailPaneChange" let-overflow="overflow" let-actionBar="actionBar"
                        let-url="url">
                        <ngx-clr-data-list
                            [show-detail-pane]="hasDetail || (!!config.datagrid.detail && config.datagrid.detail.length > 0)"
                            [dg-state]="dgState" [url]="url" [config]="config" [refresh-text]="refreshText|commonString"
                            [actions]="actions" [overflow]="overflow" [action-bar]="actionBar"
                            [detail-pane]="detailPane ?? defaultDetailPane" [no-padding]="noPadding"
                            [search-value]="search" (refresh-grid)="onRefreshDatagrid($event)"
                            (cached-query)="onCachedQuery($event)" (dgStateChange)="onDgStateChanges($event)"
                            (action)="handleAction($event, config)"
                            (detail-change)="detailPaneChange($event)"></ngx-clr-data-list>
                    </ng-template>

                    <!-- Detail Pane template -->
                    <ng-template #defaultDetailPane let-item>
                        <ng-container *ngIf="config.datagrid.detail ?? [] | asObservable | async as detailColumns">
                            <ngx-data-detail [after-detail]="afterDetailRef" [before-detail]="beforeDetailRef"
                                [data]="item" [columns]="detailColumns|asAny"></ngx-data-detail>
                        </ng-container>
                    </ng-template>
                </div>
            </ng-container>
            <!-- Add form container implementation -->
            <ng-container *ngIf="state.view === 'createView' || state.view === 'editView'">
                <ng-container
                    *ngTemplateOutlet="formTemplateRef; context: {cancel: handleCancel.bind(this), form: state.form, selected: state.selected, formTitle, modalSize}"></ng-container>
                <ng-template #formTemplateRef let-cancel="cancel" let-form="form" let-selected="selected" let-formTitle="formTitle" let-modalSize="modalSize">
                    <div class="data-form-container" *ngIf="noModal; else modalTemplateRef">
                        <div @fadeInOut>
                            <ngx-data-form #formRef [value]="selected" [form]="form"
                                [no-grid-layout]="config.form?.noGridLayout ?? false"
                                (changes)="handleFormChanges($event)" (error)="handleFormError($event)"
                                (ready)="handleFormReady($event)" (cancel)="cancel($event)"
                                (submit)="handleSubmit($event, config, state)" [submit-text]="submitText"
                                [cancel-text]="cancelText" [edit-text]="submitText"></ngx-data-form>
                        </div>
                    </div>
                    <ng-template #modalTemplateRef>
                        <ngx-form-modal #formRef [value]="selected" [size]="modalSize" [form]="form"
                            [title]="formTitle"
                            [opened]="(state.view === 'createView' || state.view === 'editView')"
                            [no-grid-layout]="config.form?.noGridLayout ?? false" [closeable]="true"
                            (changes)="handleFormChanges($event)" (error)="handleFormError($event)"
                            (ready)="handleFormReady($event)" (closed)="cancel($event)"
                            (submit)="handleSubmit($event, config, state)" [cancel-text]="cancelText"
                            [submit-text]="submitText">
                        </ngx-form-modal>
                    </ng-template>
                </ng-template>
            </ng-container>
        </ng-container>
    </div>

</div>
<ng-template #defaultHeaderRef let-title="title" let-description="description" let-config="config" let-state="state">
    <!-- TODO: Add a flex box with row alignment to add the possibility to switch View layout -->
    <ng-container *ngIf="config">
        <div class="data__header data-header" *ngIf="searchable || (title || description)">
            <div class="data__header__flex">
                <div class="data__header_content" *ngIf="description; else voidRef">
                    <h1 class="data__title">{{ title }}</h1>
                    <span class="data__description"> {{ description }}</span>
                </div>
                <ng-template #voidRef>
                    <div class="data__header_content"></div>
                </ng-template>
                <ng-container *ngIf="searchable">
                    <div class="search" *ngIf="!!config.datagrid && state.view === 'listView'">
                        <div class="search-icon"></div>
                        <!-- TODO: Use common string -->
                        <input (input)="handleSearch($event)" id="search_input" type="text" placeholder="Rechercher...">
                    </div>
                </ng-container>
            </div>
        </div>

    </ng-container>
</ng-template>