<ng-container *ngIf="link">
    <ng-container *ngIf="(link.links|array).length > 0 else anchorRef">
        <ngx-header-nav-link [label]="link.label" [links]="(link.links|array)"
            [navText]="defaultTextRef"></ngx-header-nav-link>
    </ng-container>
    <ng-template #anchorRef>
        <a [routerLink]="link.href|asString" [routerLinkActive]="'active'" [class]="link.cssClass ?? ''"
            class='nav-link nav-text'>
            <ng-container
                *ngTemplateOutlet="navTextRef ?? defaultTextRef; context: {label: link.label, $implicit: link.label}"></ng-container>
        </a>
    </ng-template>
</ng-container>
<ng-template #defaultTextRef let-label="label">
    <span>{{ label | uppercase }}</span>
</ng-template>