.left {
  text-align: left;
}

.right {
  text-align: right;
}

th,
td {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
}

th {
  font-size: 0.7rem;
  font-weight: bold;
}

td {
  font-size: 0.7rem;
  font-weight: 400;
}

.table th,
:host ::ng-deep .table:not(.inset) th {
  border-top-style: solid;
  line-height: var(--clr-table-data-cell-line-height, 0.7rem);
  border-top-width: var(--clr-table-borderwidth, 0.05rem);
  border-top-color: var(--clr-tablerow-bordercolor, hsl(198, 0%, 91%));
  vertical-align: top;
}

.table.vertical th,
:host ::ng-deep .table.vertical th {
  border-bottom-style: none;
}

.table:not(.vertical),
:host ::ng-deep .table.vertical {
  margin: 0.5rem 0 0 0 !important;
}

.table,
:host ::ng-deep .table {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

tr.clickable {
  cursor: pointer;
}

tr .btn,
:host ::ng-deep tr .btn {
  height: fit-content !important;
}

.table:not(.vertical) tbody tr td,
:host ::ng-deep .table:not(.vertical) tbody tr td {
  word-wrap: break-word !important;
}

.table.vertical tbody tr:first-child td {
  border-top-style: solid;
  line-height: var(--clr-table-data-cell-line-height, 0.7rem);
  border-top-width: var(--clr-table-borderwidth, 0.05rem);
  border-top-color: var(--clr-tablerow-bordercolor, hsl(198, 0%, 91%));
}
