<ngx-search-input [placeholder]="placeholder" #searchInput (click)="handleSearchClick($event)"></ngx-search-input>

<!-- search modal -->
<ngx-modal [size]="'lg'" [animation]="'scale'" #modal>
    <h3 *ngIf="title" class="ngx-modal-title">{{ title }}</h3>
    <span *ngIf="description" class="ngx-modal-description" [innerHTML]="description | safeHtml"></span>
    <div class="ngx-modal-body">
        <!-- Modal body -->
        <ngx-search-input [placeholder]="placeholder" #modalSearchInput (valueChange)="handleSearchChange($event)"></ngx-search-input>
        <!-- Search result content -->
        <ng-content></ng-content>
    </div>
    <div class="ngx-modal-footer">
        <!-- -->
        <ng-content select="[footer]"></ng-content>
    </div>
</ngx-modal>
<!--\ search modal -->