<ngx-modal (openedChange)="onModalOpenedChanged($event)" [(opened)]="opened" [size]="size" [closeable]="closeable"
    #modal>
    <!-- Pop-out and shrink -->
    <div class="custom-actions" custom-actions>
        <ng-container *ngIf="size === 'full'">
            <svg class="toggle-icons shrink" (click)="toggleView(size, $event)" viewBox="0 0 36 36"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M32,15H22.41l9.25-9.25a1,1,0,0,0-1.41-1.41L21,13.59V4a1,1,0,0,0-2,0V17H32a1,1,0,0,0,0-2Z">
                </path>
                <path d="M4,19a1,1,0,0,0,0,2h9.59L4.33,30.25a1,1,0,1,0,1.41,1.41L15,22.41V32a1,1,0,0,0,2,0V19Z"></path>
            </svg>
        </ng-container>
        <ng-container *ngIf="size !== 'full'">
            <svg class="toggle-icons" (click)="toggleView(size, $event)" viewBox="0 0 36 36"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M27,33H5a2,2,0,0,1-2-2V9A2,2,0,0,1,5,7H15V9H5V31H27V21h2V31A2,2,0,0,1,27,33Z"></path>
                <path d="M18,3a1,1,0,0,0,0,2H29.59L15.74,18.85a1,1,0,1,0,1.41,1.41L31,6.41V18a1,1,0,0,0,2,0V3Z"></path>
            </svg>
        </ng-container>
    </div>
    <h3 *ngIf="!!title" class="ngx-modal-title">{{ title }}</h3>
    <span *ngIf="!!description" class="ngx-modal-description" [innerHTML]="description | safeHtml"></span>
    <div class="ngx-modal-body" *ngIf="form">
        <ngx-smart-form #formRef (ready)="onReady($event)" [no-grid-layout]="noGridLayout" (error)="onError($event)"
            [autoupload]="true" (submit)="onSubmit($event)" [form]="form" [autoSubmit]="false"
            [template]="controlTemplate">
            <div before>
                <ng-content select="[before]"></ng-content>
            </div>
            <ng-template #controlTemplate let-config="value" let-control="control">
                <ngx-clr-form-control class="ngx-smart-form-control" [hidden]="config.hidden" [control]="control"
                    [inputConfig]="config"></ngx-clr-form-control>
            </ng-template>
            <div after>
                <ng-content select="[after]"></ng-content>
            </div>
        </ngx-smart-form>
    </div>
    <div class="ngx-modal-footer">
        <button class="btn btn-primary btn-danger" (click)="onCancel($event)">
            {{ cancelText }}
        </button>
        <button class="btn btn-primary" [disabled]="disabled" (click)="formRef?.onSubmit($event)">
            {{ submitText }}
        </button>
    </div>
</ngx-modal>