<header [class]="cssClass ?? 'basic'">
  <ng-content select="[main-nav]"></ng-content>
  <div class="branding">
    <ng-container
      *ngTemplateOutlet="branding ?? defaultBrandingRef"
    ></ng-container>
  </div>
  <div class="header-nav">
    <ng-container *ngTemplateOutlet="navRef ?? defaultNavRef"></ng-container>
  </div>
  <div class="search">
    <!-- Add search bar -->
    <ng-content select="[search]"></ng-content>
  </div>
  <div class="header-actions">
    <ng-container *ngIf="actions$ | async as _actions">
      <ng-container
        *ngTemplateOutlet="
          defaultActionTpl;
          context: { $implicit: _actions | appendActions : actions }
        "
      ></ng-container>
    </ng-container>
    <ng-template #defaultActionTpl let-actions>
      <ng-container *ngIf="actions.length > 0">
        <ng-container
          *ngTemplateOutlet="
            actionsRef;
            context: { $implicit: actions, actions: actions }
          "
        ></ng-container>
      </ng-container>
    </ng-template>
  </div>
</header>

<ng-template #defaultBrandingRef>
  <img class="logo" *ngIf="logo" [src]="logo" alt="Application Logo" />
  <span *ngIf="name" class="title">{{ name }}</span>
  <span *ngIf="module" class="margin-left-1rem title"> {{ module }}</span>
</ng-template>

<ng-template #defaultNavRef>
  <ng-container *ngIf="links">
    <ng-container *ngFor="let link of links">
      <ng-container
        *ngTemplateOutlet="linkRef ?? defaultLinkRef; context: { link }"
      ></ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #defaultLinkRef let-link="link">
  <ngx-header-nav [link]="link" [navText]="navTextRef"></ngx-header-nav>
</ng-template>
