<div class="data-content">
  <!-- data component template header-->
  <ng-container
    *ngTemplateOutlet="
      headerRef ?? defaultHeaderRef;
      context: { title, description, config, state }
    "
  ></ng-container>
  <div
    class="data-body"
    [ngClass]="{ data__no_padding: noPadding, data__padding: !noPadding }"
  >
    <ng-container *ngIf="config">
      <!-- <ng-container *ngIf="state.view | islistview;"> -->
      <div *ngIf="!!config.datagrid" class="data-body__content" @fadeInOut>
        <ng-container
          *ngTemplateOutlet="
            listRef ?? _listRef;
            context: {
              onRefreshDatagrid: onRefreshDatagrid.bind(this),
              onCachedQuery: onCachedQuery.bind(this),
              onDgStateChanges: onDgStateChanges.bind(this),
              detailPaneChange: detailPaneChange.bind(this),
              handleAction: handleAction.bind(this),
              handleQueryChange: handleQueryChange.bind(this),
              dgState: state.dgState,
              actions: uiActions,
              config,
              search: search$ | async,
              detailPane: detailPane,
              overflow: overflowRef,
              actionBar: actionBarRef,
              url,
              filters: state.filters
            }
          "
        ></ng-container>
        <ng-template
          #_listRef
          let-onRefreshDatagrid="onRefreshDatagrid"
          let-onCachedQuery="onCachedQuery"
          let-onDgStateChanges="onDgStateChanges"
          let-detailPaneChange="detailPaneChange"
          let-handleQueryChange="handleQueryChange"
          let-handleAction="handleAction"
          let-dgState="dgState"
          let-actions="actions"
          let-config="config"
          let-search="search"
          let-overflow="overflow"
          let-actionBar="actionBar"
          let-url="url"
          let-filters="filters"
        >
          <ngx-data-list
            [show-detail-pane]="
              hasDetail ||
              (!!config.datagrid.detail && config.datagrid.detail.length > 0)
            "
            [dg-state]="dgState"
            [url]="url"
            [config]="config"
            [refresh-text]="refreshText | commonString"
            [actions]="actions"
            [overflow]="overflow"
            [action-bar]="actionBar"
            [detail-pane]="detailPane ?? _detailPaneRef"
            [no-padding]="noPadding"
            [search-value]="search"
            [except-columns]="gridColumnsExptions ?? []"
            [filters]="filters"
            (refresh-grid)="onRefreshDatagrid($event)"
            (cached-query)="onCachedQuery($event)"
            (dgStateChange)="onDgStateChanges($event)"
            (action)="handleAction($event, config)"
            (queryChange)="handleQueryChange($event)"
            (detail-change)="detailPaneChange($event)"
          ></ngx-data-list>
        </ng-template>

        <!-- detail pane template -->
        <ng-template #_detailPaneRef let-item>
          <ng-container *ngIf="config.detail; else myDetail">
            <ng-container
              *ngComponentOutlet="
                config.detail.component;
                inputs: config.detail.inputs
                  | inputs
                    : item
                    : (config.datagrid.detail ?? [] | asObservable | async);
                ngModule: config.detail.module;
                injector: config.detail.injector;
                content: config.detail.content
              "
            >
            </ng-container>
          </ng-container>
          <ng-template #myDetail>
            <ng-container
              *ngIf="
                config.datagrid.detail ?? []
                  | asObservable
                  | async as detailColumns
              "
            >
              <ngx-data-detail
                [after-detail]="afterDetailRef"
                [before-detail]="beforeDetailRef"
                [data]="item"
                [columns]="
                  detailColumns
                    | asAny
                    | except : 'property' : detailColumnsExptions ?? []
                "
              ></ngx-data-detail>
            </ng-container>
          </ng-template>
        </ng-template>
      </div>
      <!-- </ng-container> -->
      <!-- add form container implementation -->
      <!-- <ng-template #_editViewRef> -->
      <ng-container
        *ngTemplateOutlet="
          _formRef;
          context: {
            cancel: handleCancel.bind(this),
            form: (state.form | isAsync) ? (state.form | async) : state.form,
            selected: state.selected,
            formTitle,
            modalSize
          }
        "
      ></ng-container>
      <ng-template
        #_formRef
        let-cancel="cancel"
        let-form="form"
        let-selected="selected"
        let-formTitle="formTitle"
        let-modalSize="modalSize"
      >
        <ngx-sidepane
          [opened]="(state.view | iseditview) && layout === 'pane'"
          (openedChange)="handleSidepaneOpenedChange($event, cancel)"
        >
          <ngx-data-form
            #formRef
            [value]="selected"
            [form]="form"
            [no-grid-layout]="config.form?.noGridLayout ?? false"
            (changes)="handleFormChanges($event)"
            (error)="handleFormError($event)"
            (ready)="handleFormReady($event)"
            (cancel)="cancel($event)"
            (submit)="handleSubmit($event, config, state)"
            [submit-text]="submitText | text"
            [cancel-text]="cancelText | text"
            [edit-text]="submitText | text"
          ></ngx-data-form>
        </ngx-sidepane>
        <ngx-form-modal
          #formRef
          [value]="selected"
          [size]="modalSize"
          [form]="form"
          [title]="formTitle"
          [opened]="(state.view | iseditview) && layout === 'modal'"
          [no-grid-layout]="config.form?.noGridLayout ?? false"
          [closeable]="true"
          (changes)="handleFormChanges($event)"
          (error)="handleFormError($event)"
          (ready)="handleFormReady($event)"
          (closed)="cancel($event)"
          (submit)="handleSubmit($event, config, state)"
          [cancel-text]="cancelText | text"
          [submit-text]="submitText | text"
        >
        </ngx-form-modal>
      </ng-template>

      <div #componentOutlet></div>
    </ng-container>
  </div>
</div>
<ng-template
  #defaultHeaderRef
  let-title="title"
  let-description="description"
  let-config="config"
  let-state="state"
>
  <!-- TODO: add a flex box with row alignment to add the possibility to switch view layout -->
  <ng-container *ngIf="config">
    <div
      class="data__header data-header"
      *ngIf="searchable || title || description"
    >
      <div class="data__header__flex">
        <div class="data__header_content" *ngIf="description; else voidRef">
          <h1 class="data__title">{{ title }}</h1>
          <span class="data__description"> {{ description }}</span>
        </div>
        <ng-template #voidRef>
          <div class="data__header_content"></div>
        </ng-template>
        <ng-container *ngIf="searchable">
          <div
            class="search"
            *ngIf="
              !!config.datagrid &&
              (state.view === 'listView' || state.view === 'list')
            "
          >
            <div class="search-icon"></div>
            <!-- TODO: Use common string -->
            <input
              (input)="handleSearch($event)"
              id="search_input"
              type="text"
              placeholder="Rechercher..."
            />
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-template>
