/* You can add global styles to this file, and also import other style files */
@import "@cds/core/global.min.css";
@import "@cds/core/styles/theme.dark.min.css";
@import "@clr/ui/clr-ui.min.css";

:root {
  --clr-thead-bgcolor: transparent;
}

.main-content {
  padding: 0 !important;
  overflow-x: hidden;
}

.login-wrapper {
  background-image: url("assets/media/login-bg.jpg");
}

.body {  
  background: #dedede;
}

.fex-center {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
